body {
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, #root, #app {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    place-items: stretch;
    place-content: stretch;
    flex: 1;
}

textarea {
    resize: none;
    flex: 1;
    white-space: pre;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
