ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    place-items: stretch;
    place-content: stretch;
    flex: 1;
}

textarea {
    resize: none;
    flex: 1;
    white-space: pre;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
